{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                "jest",
                [
                    "env",
                    {
                        "modules": "commonjs",
                        "targets":{
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    }
}