.bayground-container {
    padding-top: 1rem;
    padding-bottom: 150px;
}

/*---------The Bayground---------*/

.container-bayground-projects__header {
    text-align: center;
    margin-top: 0;
}

.container-bayground-projects__info {
    text-align: center;
}

.container-bayground-projects .row {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 10px 8px;
}

.container-modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

.module-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: .5rem;
}

.module-item:hover {
    cursor: pointer;
}

.page {
    min-height: 100vh;
    position: relative;
}

footer {
    height: 150px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem;
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
        border-top: 1px dotted black;
        text-align: center;
    }
}