$key-border-radius: 10px;

.title {
    text-align: center;
}

.title-quote-author {
    text-align: center;
    margin-left: 6rem;
}

.calculator-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem; // border: 2px solid black;
    border-radius: 5px;
    background-color: #FFDF00;
    box-shadow: 0 2px 4px black;
    button {
        height: 50px;
        font-size: 1.5rem;
    }
    .display-area {
        // grid-column: 5 / 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: #2E282A;
        text-align: right;
        color: white;
        border-radius: $key-border-radius;
        font-size: 2rem;
        padding: 0 0.5rem 0 0;
        margin: 0 0 5px 0;
    }
    .calculator-keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        button:focus {
            outline: none;
        }
        button:hover {
            cursor: pointer;
            border: 0.5px solid grey;
        }
        .num-btn {
            border-radius: $key-border-radius;
        }
        .all-clear {
            grid-row: 1 / 2;
            grid-column: 1 / 4;
            background-color: #17BEBB;
            border-radius: $key-border-radius;
        }
        .operator {
            background-color: #E4572E;
            border-radius: $key-border-radius;
        }
        .operator:nth-of-type(2) {
            grid-row: 1 / 2;
            grid-column: 4 / 5;
        }
        .operator:nth-of-type(3) {
            grid-row: 2 / 3;
            grid-column: 4 / 5;
        }
        .operator:nth-of-type(4) {
            grid-row: 3 / 4;
            grid-column: 4 / 5;
        }
        .operator:nth-of-type(5) {
            grid-row: 4 / 5;
            grid-column: 4 / 5;
        }
        .equal-sign {
            grid-row: 5 / 6;
            grid-column: 4 / 5;
        }
        .zero-btn {
            grid-row: 5 / 6;
            grid-column: 1 / 3;
        }
    }
}