.hangman-keyboard-container {
    max-width: 500px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    p {
        display: inline-block;
        width: 30px;
        text-align: center;
        margin: 0.2rem;
        padding: 0.25rem;
        border: 1px solid black;
        cursor: pointer;
        &:hover {
            background-color: grey;
        }
    }
    .chosen-letter {
        background-color: grey;
        cursor: default;
    }
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 2rem 0;
    .difficulty-choice {
        // background-color: red;
        margin: 0.25rem 0;
    }
}

.hangman-final-phrase-container {
    text-align: center;
    margin: 1rem 0;
    .word-block {
        margin: 1rem 0;
        .letter-box {
            border-bottom: 1px solid #000;
            display: inline-block;
            margin: 0 .5rem;
            width: 25px;
            font-size: 1.4rem;
            padding: 0 0 .1rem 0;
            line-height: 1rem;
        }
    }
}

.graphic-bad-letters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 562px) {
        flex-direction: row;
    }
}

.project-hangman .loading-spinner {
    display: none;
    width: 100%;
    text-align: center;
    img {
        text-align: center;
        margin: 0 auto;
        width: 150px;
    }
}

.bad-letters-container {
    margin: 1rem 0;
    width: 100px;
    p {
        display: inline-block;
        margin: 0;
        padding: 0.25rem;
    }
}

#hangman-graphic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0;
    svg {
        padding: 1rem;
    }
}

.hangman-results-container {
    p {
        text-align: center;
        font-size: 2rem;
    }
}

.playagain-btn-js {
    display: none;
}